.section {
    width: 100%;
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

.movieSection {
    background-color: #fff !important;
}

.container {
    max-width: 140rem;
    margin: 0 auto;
    padding: 2rem;
    position: relative;
}

.grid_two_section {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 25rem;
    gap: 5rem;
}

.movieSection h1 {
    text-align: center;
    margin-bottom: 3.2rem;
}

.movie_title {
    margin: 3.2rem 0 3.2rem 0;
}

.movie_title span {
    color: #e50914;
    text-transform: capitalize;
}

.card_section {
    width: 100%;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    /*background-color: #90caf9;*/
    flex-wrap: wrap;
}

.card {
    max-width: 15.8rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: .4rem;
    background-color: #fff;
    /* text-align: center; */
    padding: .5rem;
}

.card_image img {
    object-fit: fill;
    /* max-width: 100%; */
    height: 10rem;
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
}

.movie_details {
    width: 100%;
    background-color: rgb(238, 238, 236);
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.movie_details img {
    display: block;
    margin: 0 auto;
}

.movie_details>div {
    margin: 0 4rem;
}

.cast_name {
    display: inline-block;
    width: fit-content;
    margin-right: .5rem;

}

/* hero section divider styling */
.custom-shape-divider-top-1683102803 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1683102803 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.custom-shape-divider-top-1683102803 .shape-fill {
    fill: #FFFFFF;
}


/*not found page styling */
.error_page {
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.error_page h2 {
    font-size: 4.8rem;
}


/*loading page style */

.loading_section {
    width: 100%;
    height: 80vh;
    display: grid;
    place-items: center;
}

.loading {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.loading:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 8px;
    box-sizing: border-box;
    border: 32px solid #e50914;
    border-color: #e50914 transparent #e50914 transparent;
    animation: loading 1.2s infinite;
}

@keyframes loading {
    0% {
        transform: rotate(0);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }

    50% {
        transform: rotate(900deg);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    100% {
        transform: rotate(1800deg);
    }
}



@media screen and (max-width:768px) {
    .grid_two_section {
        grid-template-columns: 1fr;
    }

    .card_section {
        justify-content: center;
    }

}