html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

button {
    background-color: black;
    border-radius: 15px;
    box-shadow: 0 0 3px rgb(211, 210, 210);
    color: #fff;
    padding: 5px 10px;
    cursor: pointer;

}